@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: color #f7f7f7;;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}